
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/DeadPool-Fashion.jpg') no-repeat 40%/cover;
    padding-top: 205px;
}
.promo__title {
    width: 465px;
    margin-top: 10px;
}
.promo__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
}
.promo__btns {
    margin-top: 25px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}
.promo__link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.btn {
    background: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
}
.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}
.title_fz16 {
    font-size: 16px;
    line-height: 24px;
}
.title_fz36 {
    font-size: 36px;
}
.title_fz48 {
    font-size: 48px;
    line-height: 48px;
}
.title_fz14 {
    font-size: 14px;
    line-height: 21px;
}
.title_fz20 {
    font-size: 20px;
    line-height: 30px;

}

.promo__subtitle:before{
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: -25%;
    left: 0;
    border-radius: 100%;
}

.sidepanel {
    display: flex;
    position: fixed;
    top: 230px;
    left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
}
.sidepanel__divider {
    width: 2px;
    height: 70px;
    background-color: #333;
}

.sidepanel__text {
    height: 150px;
    width: 25px;
}
.sidepanel__magic {
    transform: rotate(-90deg) translate(-30%, -260%);
    display: block;
    width: 150px;
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}
.hamburger_span{
    display: block;
    width: 30px;
    height: 3px;
    background: #151812;
}
.long {
    display: block;
    width: 36px;
    height: 3px;
    background: #151812;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}
.menu__block {
    position: relative;
    /* left: -100%; */
    width: 345px;
    background-color: #FFA501;
    height: 100%;
    padding-top: 140px;
    padding-left: 40px;
    transition: all 0.6s;
    z-index: 10;
}
.menu__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.menu__list {
    list-style-type: none;
    padding-left: 35px;
}

.menu__link {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
    text-transform: uppercase;
    transition: all 0.6s;
}
.menu__link-item {
    color: #fff;
    text-decoration: none;
}

.menu__link:before {
    content: '';
    position: absolute;
    left: -35px;
    top: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 100%;
}
.menu__link:hover:before {
    background-color: #0ff;
    transition: all 0.8s ease;
}

.menu__social {
    position: absolute;
    /* bottom: 50px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 90px;
}

.menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.75;
}

.active {
    left: 0;
    visibility: visible;
    opacity: 1;
}

/* about styles start */

.about {
    padding-top: 120px;
}
.about__wrapper {
    display: grid;
    grid-template-columns: 400px 670px;
    grid-template-rows: minmax(245px, auto) minmax(255px, auto);
    grid-auto-rows: minmax(245px, auto);
    column-gap: 70px;
    row-gap: 40px;
}

.about__photo {
    grid-row: 1/3;
}
.my__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__title {
    position: relative;
    padding-left: 10px;
    z-index: 2;
}
.about__title:before{
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: -25%;
    left: 0;
    border-radius: 100%;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #FFA501;
}
.about__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
}

.about__skills {
    display: grid;
    grid-template: repeat(2, minmax(115px, auto)) /repeat(2, 260px);
    gap: 50px 20px;
    grid-auto-rows: 1fr;
}

.about__skills-item {
    display: grid;
    grid-template-columns: 40px 200px;
    column-gap: 20px;
}

.about__skills-circle {
    position: relative;
    padding: 15px 0px 0px 15px;
}

.about__skills-circle:before {
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
}
.about__skills-text {
    margin-top: 6px;
    font-size: 12px;
    line-height: 18px;
}

/* about styles end */

/* resume styles start */

.resume {
    padding-top: 120px;
}

.resume__title {
    text-align: center;
    position: relative;
}
.resume__title:before {
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;

}
.resume__subtitle {
    text-align: center;
}

.divider__resume {
    width: 60px;
    height: 3px;
    background-color: #FFA501;
    margin: 25px auto 0 auto;
}
.resume__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 425px);
    padding: 60px 65px 0px 65px;
    column-gap: 135px;
}
.resume__row-title {
    position: relative;
    padding-left: 35px;
}
.resume__row-title:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #FFA501;
    border-radius: 100%;
    left: -6px;
    top: 50%;
    transform: translate(-50%);

}

.resume__unit {
    list-style-type: none ;
}
.resume__unit-box {
    position: relative;
}

.resume__unit-box:after {
    content: '';
    width: 1px;
    height: calc(100% + 16px);
    position: absolute;
    top: -15px;
    left: -7px;
    background-color: #000;
}

.resume__item-head {
    position: relative;
    padding: 45px 0px 0px 100px;
}
.resume__item-body {
    padding-left: 43px;
    margin-top: 12px;
}

.resume__item-icon {
    position: absolute;
    top: 50px;
    left: 46px;
}
.resume__item-icon:before {
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;

}

.resume__img {
    position: absolute;
    left: 0px;
    top: 10px;
}

.resume__item-location {
    font-size: 12px;
    line-height: 18px;
}
.resume__item-body {
    font-size: 12px;
    line-height: 18px;
}

.resume__item {
    position: relative;
}

.resume__item::before {
    content: '';
    height: 1px;
    width: 34px;
    position: absolute;
    background-color: #000;
    top: 60px;
    left: -6px;
}

/* resume styles end */

/* portfolio styles start */

.portfolio {
  
    padding-top: 120px;
}
.portfolio__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
}

.vertical {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.horizontal {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.portfolio-img {
    width: 100%;
}
.portfolio__item {
    transition: all 0.6s ease;
}
.portfolio__item:hover {
    transform: scale(0.95);
}

/*portfolio styles end */

/* contacts styles start */
.contacts {
    padding: 120px 0px 90px 0px;
}
.contacts__wrapper {
    padding: 0px 35px 0px 52px;
    display: grid;
    grid-template-columns: 400px 585px;
    justify-content: space-between;
}
.deadpool {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contacts__title {
    position: relative;
}
.contacts__title:before {
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: -6px;
    left: 0%;
    transform: translateX(-50%);
    border-radius: 100%;
}
.contacts__text {
    margin-top: 20px;
}
.contacts__social {
    margin-top: 20px;
}
.social__img {
    max-width: 30px;
    max-height: 30px;
}
.contacts__link {
    margin-right: 25px;
    text-decoration: none;
}
.contacts__form {
    display: grid;
    margin-top: 30px;
    grid-template: 45px 190px 45px / repeat(2, 260px);
    justify-content: space-between;
    row-gap: 30px;
}
.contacts__input {
    position: relative;
}
.label-text {
    display: block;
    position: absolute;
    font-size: 12px;
    padding: 0 8px;
    background-color: #fff;
    height: 18px;
    top: -9px;
    left: 12px;
}
.contacts__input-item{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 500;
}

.contacts__textarea {
   grid-column: 1 / 3;
   position: relative;
   margin-bottom: 30px;
 
}
.resize {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 20px;
    font-size: 12px;
}
.contacts__btn {
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}
.contacts__triggers {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, auto);
    column-gap: 35px;
}
.contacts__policy {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
}
.policy {
    margin-right: 10px;
}
/* contacts styles end */

/* media styles start */

@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background: url(../img/DeadPool-Fashion.jpg) no-repeat 78%/cover;
    }
    .about__wrapper {
        grid-template-columns: 400px 520px;
        column-gap: 40px;
    }
    .about__skills {
        grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
        column-gap: 20px;
    }
    .about__skills-item {
        grid-template-columns: 40px 195px;
        column-gap: 15px;
    }
    .resume__wrapper {
        padding: 40px 20px 0 20px;
        column-gap: 80px
    }
    .portfolio__wrapper {
        grid-template-columns: repeat(auto-fit, 280px);
        grid-auto-rows: 280px;
        justify-content: space-between;
        row-gap: 35px;
    }
    .vertical, .horizontal {
        grid-row: unset;
        grid-column: unset;
    }
    .portfolio-img {
        width: 280px;
        height: 280px;
        object-fit: cover;
    }
    .bug {
        width: 280px;
        height: 280px;
        object-fit: cover;
    }
    .contacts__wrapper {
        padding: 0;
        grid-template-columns: 400px 520px;
    }
    .contacts__form {
        grid-template: 45px 190px 45px / repeat(2, 250px);
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .title_fz36 {
        font-size: 30px;
    }
    .about__wrapper {
        grid-template-columns: 300px 380px;
    }
    .about__skills {
        grid-template-columns: 360px;
        grid-auto-rows: minmax(115px, auto);
    }
    .about__skills-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
    }
    .resume__wrapper {
        column-gap: 60px;
        grid-template-columns: repeat(2,320px);
    }
    .contacts__wrapper {
        grid-template-columns: 300px 400px;
    }
    .contacts__form {
        grid-template: 45px 190px 45px / repeat(2, 195px);
    }
    .contacts__btn {
        padding: 8px 25px;
        line-height: 16px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
  
    .title_fz48 {
        font-size: 28px;
    }
    .promo__title {
        width: 300px;
        line-height: 39px;
    }
    .about {
        padding-top: 40px;
    }
    .about__photo {
        grid-row: unset;
    }
    .about__wrapper {
        grid-template: 660px auto auto / 1fr;
    }
    .about__skills {
        grid-template-columns: repeat(2, 260px);
    }
    .about__skills-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
    }
    .resume {
        padding-top: 40px;
    }
    .resume__wrapper {
        grid-template-columns: 1fr;
        column-gap: 60px;
        row-gap: 40px;
    }
    .portfolio {
        padding-top: 40px;
    }
    .contacts {
        padding-top: 40px;
    }
    .contacts__photo {
        display: none;
    }
    .contacts__wrapper {
        grid-template-columns: 1fr;
    }
    .contacts__form {
        grid-template: 45px 190px 45px / repeat(2, 250px);
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }
    .about__photo {
        display: none;
    }
    .hamburger {
        right: 20px;
    }
    .title_fz48 {
        font-size: 26px;
    }
    .title_fz36 {
        font-size: 24px;
    }
    .resume__item-body {
        padding-left: 0px;
    }
    .promo {
        background: url(../img/DeadPool-Fashion.jpg) no-repeat 18%/cover;
    }
    .promo__btns {
        margin-top: 30px;
    }
    .menu__block {
        width: 250px;
        height: 444px;
        padding-left: 20px;
    }
    .about__wrapper {
        grid-template: 320px auto auto / 1fr;
    }
    .about__skills {
        grid-template-columns: 1fr;
    }
    .about__text {
        font-size: 12px;
    }
    .portfolio__wrapper {
        margin-top: 30px;
    }
    .divider__resume {
        margin-top: 10px;
    }
    .contacts {
        padding-bottom: 50px;
    }
    .contacts__form {
        grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }
    .contacts__input-item, .resize {
        width: 240px;
    }
    .contacts__textarea {
        grid-column: unset;
        width: 100%;
    }
    .contacts__triggers {
        grid-column: unset;
        grid-template-columns: 1fr;
        column-gap: unset;
        row-gap: 20px;
    }
    .contacts__btn {
        order: 2;
        max-width: 220px;
        margin: 0 auto;
    }
    .contacts__policy {
        width: 180px;
        margin: 0 auto;
        line-height: 18px;
    }
}
/* media styles end */
