@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
}
.promo__title {
    width: 535px;
    margin-top: 10px;
}
.promo__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
}
.promo__btns {
    margin-top: 25px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}
.promo__link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.btn {
    background: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
}
.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}
.title_fz16 {
    font-size: 16px;
    line-height: 24px;
}
.title_fz48 {
    font-size: 48px;
    line-height: 48px;
}
.title_fz14 {
    font-size: 14px;
    line-height: 21px;
}

.promo__subtitle:before{
    content: '';
    z-index: -1;
    width: 36px;
    height: 36px;
    background: #FFA501; 
    position: absolute;
    top: -25%;
    left: 0;
    border-radius: 100%;
}

.sidepanel {
    display: flex;
    position: fixed;
    top: 230px;
    left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
}
.sidepanel__divider {
    width: 2px;
    height: 70px;
    background-color: #333;
}

.sidepanel__text {
    height: 150px;
    width: 25px;
}
.sidepanel__magic {
    transform: rotate(-90deg) translate(-30%, -260%);
    display: block;
    width: 150px;
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}
.hamburger_span{
    display: block;
    width: 30px;
    height: 3px;
    background: #151812;
}
.long {
    display: block;
    width: 36px;
    height: 3px;
    background: #151812;
}